* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  background: #eee;
  color: #333;
}
.vp-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
/*header*/

header {
  background: #333;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  line-height: 1.8rem;
}
.logo {
  font-family: "Long Cang", cursive;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.logo i {
  color: #f1c40f;
  font-size: 1.5rem;
  margin-right: 0.5rem;
}
.logo a {
  font-size: 2rem;
  font-weight: 200;
  text-decoration: none;
  color: #eee;
}
header ul {
  display: flex;
  list-style: none;
  flex-flow: row nowrap;
  text-decoration: none;
}
header ul li {
  padding: 1rem;
}
header ul li a {
  text-decoration: none;
  color: #eee;
}
header ul li a:hover {
  color: #f1c40f;
}
/*footer*/
footer {
  background: #444444;
  padding: 4rem;
  color: white;
  text-align: center;
}

/*section 1*/
.vp {
  flex: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("./images/frame.jpg") center / cover;
}
.vp-content {
  max-width: 700px;
  text-align: center;
  color: #eee;
  padding: 1rem;
}
.vp-content h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.vp-content p {
  font-size: 1.3rem;
  font-weight: 200;
  line-height: 2rem;
}

strong {
  color: #f1c40f;
  font-weight: 300;
}
/*section 2: nos offre*/
.offer {
  padding: 10rem;
}
h2.title {
  font-weight: 200;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.offer ul {
  list-style: none;
}
.offer-list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.offer-item {
  border: 1px solid #ddd;
  background: white;
  margin: 1rem;
  flex: 1;
}

.offer-img {
  width: 100%;
}

.offer-text {
  padding: 2rem;
  text-align: center;
}

.offer-line {
  width: 60px;
  margin: 1rem auto;
  height: 1px;
  background: #333;
}

.offer p {
  font-size: 0.8rem;
}
/*section3 :nos equipe*/
.team {
  display: flex;
  flex-flow: row nowrap;
  min-height: 600px;
  background-color: #333;
}

.team-img {
  flex-grow: 1;
  flex-basis: 0%;
  background: url("./images/team.jpg") center center / cover;
}

.team-text {
  flex-grow: 1;
  flex-basis: 0%;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ddd;
}

.team-text h2 {
  margin-bottom: 3rem;
}

.team-text p {
  font-size: 1rem;
  line-height: 1.1rem;
  color: #ddd;
}
/*section5:contact*/
.contact {
  padding: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #333333;
}

.contact-form {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contact-form input {
  background: #333;
  border: 0;
  border-bottom: 1px solid #555;
  padding: 1rem;
  font-size: 1rem;
  color: white;
  margin-bottom: 2rem;
}
.contact-form h2 {
  color: #eee;
}
.contact-form button {
  display: block;
  margin: 3rem auto;
  padding: 1rem 2rem;
  border: 0;
  background: #f1c40f;
  color: white;
  border-radius: 50px;
  font-weight: 500;
  font-size: 1.3rem;
  cursor: pointer;
}

.contact-form button:hover {
  background: red;
}
/*section4 :comments*/

.comments {
  padding: 4rem 9rem;
}

.comments-content {
  display: flex;
  flex-direction: column;
}

.comment {
  background: white;
  border-radius: 3px;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.comment-text {
  padding: 0 2rem;
}

.comment-text p i {
  margin: 0.2rem;
}

.comment-profile p {
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.comment-profile img {
  width: 50px;
  border-radius: 50px;
  margin-bottom: 0.5rem;
}
